body > header{
    background: url(./img/pattern.png);
    background-color: #4EA0FF;
}

h1{
    font-size: 4rem;
}

header > p span{
    color: #36B1E7;
}

.grey{
    color: #808080;
    font-size: 2rem;
}

article{
    font-size: 1.5rem;
}

.evidence{
    background-color: #FFFF00;
}

table{
    border-collapse: collapse;
}

thead{
    background-color: #20A9E5;
    color: white;
}

.shots{
    background-color: #B1E5F2;
}

h3{
    color: white;
}