body{
    background: url(./img/background.jpg);
}

body > div > header{
    background: url(./img/pattern.png);
    background-color: #4EA0FF;
    background-repeat: repeat-x;
    background-size: 35%;
}

.back{
    background-color: rgb(220, 230, 255,0.8);
    padding: 2%;
    border-radius: 20px;
}


.logo{
    width: 15rem;
    height: auto;
    padding: 1%;
}

h1{
    font-size: 3.6rem;
}

header > p a{
    color: #36B1E7;
    text-decoration: underline;
}

.grey{
    color: #6a6262;
    font-size: 1.8rem;
}

article{
    font-size: 1.5rem;
}

.photos_box{
    display: inline-block;
    margin-left: 15%;
}

.evidence{
    background-color: #FFFF00;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 10px;
}

table{
    border-collapse: collapse;
}

td{
    padding-left: 1rem;
}

thead{
    background-color: #20A9E5;
    color: white;
}

.shots{
    background-color: #B1E5F2;
}

.even{
    background-color: wheat;
}

h3{
    color: white;
}

footer > div {
    width: auto;
    height: 208px;
    font-size: 1.5rem;
}

.link_1{
    background: url(./img/monitor.jpg);
    background-repeat: no-repeat;
    background-size:auto;
}

.link_2{
    background: url(./img/graph.jpg);
    background-repeat: no-repeat;
    background-size:auto;
}